<template>
  <div class="container">
    <div class="title">
      <div class="title__text">
        <img class="cool-guy desktop-only" src="../assets/cool-guy.png">
        <img class="need-this desktop-only" src="../assets/need-this.png">
        <span class="desktop-only">I’m Isaak Meakin, a <span class="title__text--red">UX & UI Designer</span> based in Salt Lake City, Utah. I solve hard problems using design.</span>
        <span class="mobile-only"><span class="title__text--red">UX & UI Designer</span>
          <br />I solve hard problems through design.</span>
      </div>
    </div>
    <div class="project">
      <div class="project__heading">Projects & Case Studies</div>
      <router-link tag="div" to="/projects/utah-transit-authority" class="project__card">
        <div class="project__title">Utah Transit Authority</div>
        <div class="project__description">Engaging and rewarding riders through gameification.</div>
        <img class="project__image" src="../assets/thumbnail_1.png">
      </router-link>
      <router-link tag="div" to="/projects/quiltback" class="project__card">
        <div class="project__title">QuiltBack</div>
        <div class="project__description">Raising money for refugees through quilting.</div>
        <img class="project__image" src="../assets/thumbnail_2.png">
      </router-link>
      <router-link tag="div" to="/" class="project__card project__card--disabled">
        <div class="project__title">QuickClean</div>
        <div class="project__description">Coming soon!</div>
        <img class="project__image" src="../assets/thumbnail_3.png">
      </router-link>
      <router-link tag="div" to="/" class="project__card project__card--disabled">
        <div class="project__title">HammySack</div>
        <div class="project__description">Coming soon!</div>
        <img class="project__image" src="../assets/thumbnail_4.png">
      </router-link>
    </div>
    <div class="cta">Looking to collaborate? <a href="mailto:ismeakin@gmail.com?subject=Lets Collaborate from isaak.meakin.co" class="cta__link">Drop me a line.</a></div>
    <div class="social">
      <a href="https://medium.com/@ismeakin">
        <svg class="social__icon" viewBox="0 0 64 64">
          <path d="M46.908,23.95c-0.006-0.005-0.011-0.01-0.018-0.014l-0.01-0.005l-9.05-4.525c-0.061-0.031-0.125-0.051-0.19-0.068c-0.082-0.021-0.165-0.034-0.249-0.034c-0.347,0-0.692,0.174-0.878,0.477l-5.21,8.467l6.538,10.625l9.095-14.779C46.966,24.046,46.952,23.985,46.908,23.95z M28.433,35.958L37,40.241L28.433,26.32V35.958zM38.287,40.884l7.052,3.526C46.256,44.869,47,44.548,47,43.693V26.726L38.287,40.884z M26.946,23.964l-8.839-4.419c-0.16-0.08-0.312-0.118-0.449-0.118c-0.387,0-0.659,0.299-0.659,0.802v19.083c0,0.511,0.374,1.116,0.831,1.344l7.785,3.892c0.2,0.1,0.39,0.147,0.561,0.147c0.484,0,0.823-0.374,0.823-1.003V24.051C27,24.014,26.979,23.98,26.946,23.964z"></path>
        </svg>
      </a>
      <a href="https://www.linkedin.com/in/ismeakin">
      <svg class="social__icon" viewBox="0 0 64 64">
        <path d="M20.4,44h5.4V26.6h-5.4V44z M23.1,18c-1.7,0-3.1,1.4-3.1,3.1c0,1.7,1.4,3.1,3.1,3.1 c1.7,0,3.1-1.4,3.1-3.1C26.2,19.4,24.8,18,23.1,18z M39.5,26.2c-2.6,0-4.4,1.4-5.1,2.8h-0.1v-2.4h-5.2V44h5.4v-8.6 c0-2.3,0.4-4.5,3.2-4.5c2.8,0,2.8,2.6,2.8,4.6V44H46v-9.5C46,29.8,45,26.2,39.5,26.2z"></path>
      </svg>
      </a>
      <a href="http://www.dribbble.com/ismeakin">
      <svg class="social__icon" viewBox="0 0 64 64">
        <path d="M32,48c-8.8,0-16-7.2-16-16s7.2-16,16-16 s16,7.2,16,16S40.8,48,32,48z M45.5,34.2C45,34,41.3,32.9,37,33.6c1.8,4.9,2.5,8.9,2.7,9.7C42.7,41.3,44.9,38,45.5,34.2z M37.3,44.6 c-0.2-1.2-1-5.4-2.9-10.4c0,0-0.1,0-0.1,0c-7.7,2.7-10.5,8-10.7,8.5c2.3,1.8,5.2,2.9,8.4,2.9C33.9,45.7,35.7,45.3,37.3,44.6z  M21.8,41.2c0.3-0.5,4.1-6.7,11.1-9c0.2-0.1,0.4-0.1,0.5-0.2c-0.3-0.8-0.7-1.6-1.1-2.3c-6.8,2-13.4,2-14,1.9c0,0.1,0,0.3,0,0.4 C18.3,35.5,19.7,38.7,21.8,41.2z M18.6,29.2c0.6,0,6.2,0,12.6-1.7c-2.3-4-4.7-7.4-5.1-7.9C22.4,21.5,19.5,25,18.6,29.2z M28.8,18.7 c0.4,0.5,2.9,3.9,5.1,8c4.9-1.8,6.9-4.6,7.2-4.9c-2.4-2.1-5.6-3.4-9.1-3.4C30.9,18.4,29.8,18.5,28.8,18.7z M42.6,23.4 c-0.3,0.4-2.6,3.3-7.6,5.4c0.3,0.7,0.6,1.3,0.9,2c0.1,0.2,0.2,0.5,0.3,0.7c4.5-0.6,9.1,0.3,9.5,0.4C45.6,28.7,44.5,25.7,42.6,23.4z"></path>
      </svg>
      </a>
      <a href="mailto:ismeakin@gmail.com?subject=Lets Collaborate from isaak.meakin.co">
      <svg class="social__icon" viewBox="0 0 64 64">
        <path d="M17,22v20h30V22H17z M41.1,25L32,32.1L22.9,25H41.1z M20,39V26.6l12,9.3l12-9.3V39H20z"></path>
      </svg>
      </a>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'home'
  }
</script>

<style scoped>
  .container {
    margin: 0 .5rem;
  }

  .cool-guy {
    position: absolute;
    top: -4rem;
    left: -6rem;
    height: 4.5rem;
  }

  .need-this {
    position: absolute;
    top: -4rem;
    right: -6rem;
    height: 4.5rem;
  }

  .title {
    padding-top: 20vh;
    padding-bottom: 15vh;
    margin: 0 auto;
    max-width: 80vw;
    width: 48rem;
  }

  .title__text {
    position: relative;
    text-align: center;
    font-size: 2.5rem;
    line-height: 4.5rem;
    font-weight: 800;
    letter-spacing: -0.5px;
  }

  .title__text--red {
    color: #e33e42;
  }

  .project {
    display: flex;
    flex-wrap: wrap;
  }

  .project__heading {
    flex: 1 100%;
    font-size: 2rem;
    font-weight: 800;
    margin-left: .5rem;
    margin-bottom: 2rem;
    color: #e33e42;
    text-align: center;
  }

  .project .project__card:nth-child(2):hover {
    background: #80a4ff
  }

  .project .project__card:nth-child(3):hover {
    background: #ff8097
  }

  .project .project__card:nth-child(4):hover {
    /*background: #80dfff*/
  }

  .project .project__card:nth-child(5):hover {
    /*background: #ffeadb*/
  }

  .project__card {
    text-decoration: none;
    color: #484848;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 calc(50% - 2rem);
    padding: .5rem;
    margin: .5rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
  }

  .project__card:hover {
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
  }

  .project__card--disabled:hover {
    color: #484848;
    cursor: not-allowed;
    text-shadow: none;
  }

  .project__title {
    font-size: 1.875rem;
    font-weight: 700;
    padding-top: 2rem;
    text-align: center;
    margin-bottom: .5rem;
  }

  .project__description {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
  }

  .project__image {
    margin: auto;
    padding: 1rem 0;
    max-width: 100%;
    max-height: 542px;
  }

  .mobile-only {
    display: none
  }

  .cta {
    font-size: 2.375rem;
    font-weight: 800;
    color: #333333;
    margin-top: 2rem;
  }

  .cta__link {
    text-decoration: none;
    color: #e33e42;
  }

  .cta__link:hover {
    border-bottom: 3px solid #e33e42;
  }

  .social {
    padding: 1rem 0;
    display: inline-block;
    margin-bottom: 1rem;
  }

  .social:hover {
    cursor: pointer;
  }

  .social:hover .social__icon {
    fill: gainsboro;
    -webkit-transition: fill 200ms;
    -moz-transition: fill 200ms;
    -ms-transition: fill 200ms;
    -o-transition: fill 200ms;
    transition: fill 200ms;
  }

  .social__icon {
    height: 3.5rem;
    -webkit-transition: fill 300ms;
    -moz-transition: fill 300ms;
    -ms-transition: fill 300ms;
    -o-transition: fill 300ms;
    transition: fill 300ms;
  }

  .social .social__icon:hover {
    fill: #484848;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
  }

  @media screen and (max-width: 980px) {
    .need-this, .cool-guy {
      display: none;
    }
  }

  @media screen and (max-width: 560px) {
    .desktop-only {
      display: none;
    }

    .mobile-only {
      display: block;
    }

    .title {
      padding-top: 12vh;
      padding-bottom: 10vh;
      max-width: 100%;
    }

    .title__text {
      font-size: 1.75rem;
      line-height: 2.5rem;
      font-weight: 800;
    }

    .project__card {
      flex: 1 100%;
      margin-bottom: 1rem;
    }

    .project__heading {
      font-size: 1.25rem;
    }

    .project__description {
      font-size: 0.875rem;
    }

    .project__title {
      font-size: 1.5rem;
    }

    .cta {
      font-size: 1.5rem;
    }
  }
</style>
