<template>
  <section>
    <div class="header">
      <div class="header__title">Utah Transit Authority Case Study</div>
      <div class="header__subtitle">A Website That Rewards You for Riding Mass Transit.</div>
    </div>
    <img src="../assets/project_1/hero.jpg" alt="Utah Transit Authority Vehicle">

    <!-- Background -->
    <div class="section">
      <div class="section__title">Background</div>
      <div class="section__text">
        <p>Use of mass transit has grown in the last few years, but there is still a significant gap between those who support mass transit and those who actually use it. According to The American Public Transportation Association:</p>
        <p><i>“Out of 74% of the population who support mass transit only 5% of all US workers have commuted on transit.”</i></p>
        <p>Our question then becomes why? Why aren’t more people using mass transit in their daily commutes? This is what <span class="section__text--red">Matthew Barnes</span> and I, the fantastic bearded duo set out to discover.</p>
        <p><strong>Objective:</strong> Design a digital solution to encourage people in our community to use the mass transit options available to them.</p>
        <p><strong>Solution:</strong> Rewards web application that would allow users to earn points every time they ride UTA.</p>
        <p><strong>My Role:</strong> Being placed in a team of two for our first ever project, Matt and I had a chance to do a little bit of everything.</p>
      </div>
    </div>
    <img src="../assets/project_1/01.jpg" alt="Assumption Boards">

    <!-- Our Approach -->
    <div class="section">
      <div class="section__title">Our Approach</div>
      <div class="section__text">The first step in our process was to brainstorm everything we knew about the Utah Transit Authority (UTA) and its ridership. All of our assumptions we could think of were to be categorized and challenged in order to get rid of our own bias as well as identify potential users. We did several creative thinking exercises using Trello boards that helped us in planning our research strategy and forming our hypotheses.</div>
    </div>
    <img src="../assets/project_1/02.png" alt="Trello Board">

    <!-- Planning -->
    <div class="section">
      <div class="section__title">Planning a Strategy—Empathize</div>
      <div class="section__text">We needed to get out of our own thoughts as designers and into the minds of the users. We decided the best way to do that was to conduct user interviews and observe them through context immersion. Before we could do that we first needed to plan the who and the where. Based on our assumptions we identified whom we thought the users and industry experts were. After discussing the demographics of our users and experts we created two category boards to help us brainstorm locations of where we could do our research.</div>
    </div>
    <img src="../assets/project_1/03.png">

    <!-- Creating a Question Guide -->
    <div class="section">
      <div class="section__title">Creating a Question Guide</div>
      <div class="section__text">With our assumptions challenged and our research planned, we were ready to conduct user interviews. Our research methods ranged from creating surveys to interviewing UTA spokespersons. We also created a short 5 question interview to capture information as quickly as possible from those riding on the various UTA buses, Frontrunner and TRAX. We ended up refining many of our questions because some were met with confusion or close-ended answers.
        <p class="section__text--bold">Link to <a href="https://docs.google.com/forms/d/e/1FAIpQLSeDqoAx4yd71L3Yqzf40PiL0m30UayF9bnkVgbd-gUCnei0ww/viewform?usp=send_form" class="section__text--red" target="_blank">Our Survey</a> here.</p>
      </div>
    </div>
    <img src="../assets/project_1/04.png">

    <!-- Personas -->
    <div class="section">
      <div class="section__title">Personas</div>
      <div class="section__text">After we had gathered enough user data we compiled commonalities between interviewees. This allowed us to create accurate and realistic personas that embodied the majority of our users’ frustrations and goals. Now we had a solid target audience and demographics. We wrote up a creative brief to help us develop a proper solution. This brief would keep us accountable, on track, and allow us to measure our success.
        <p class="section__text--bold">View our <a href="https://drive.google.com/file/d/0B7myM6fhehsBSHZ5UHlpaDhScUE/view" class="section__text--red" target="_blank">Creative Brief</a> here.</p>
      </div>
    </div>
    <img src="../assets/project_1/05.png">

    <!-- User Research -->
    <div class="section">
      <div class="section__title">User Research—Define</div>
      <div class="section__text">I tried scheduling a meeting with the Department Head of PR for UTA, but unfortunately, they were unable to meet with me before our deadline. I did, however, spend a lot of time at Salt Lake Central Station interviewing people who were waiting for the Frontrunner and TRAX. I discovered a lot of useful information and compiled all of our data from each interview into a Trello board. Matt and I had our big break when we started approaching University of Utah students on their way to class. During our interviews, we were surprised to find that any currently enrolled student with a student ID card has access to all of UTA’s transportation for free. What was even more surprising was how little these free passes were used by students due to misunderstanding or low motivation.</div>
    </div>
    <img src="../assets/project_1/06.jpeg">

    <!-- User Journey -->
    <div class="section">
      <div class="section__title">User Journey—Ideation</div>
      <div class="section__text">Our research showed that the biggest problems had to do with the inconvenience of riding UTA and or low motivation to ride. Many of these complaints were out of our control. We couldn't make the train go faster nor could we decrease the number of stops per route. We decided to focus on the lack of motivation problem and find a way to incentivize the public to ride more often. We wanted to create a rewards web application that would allow users to earn points every time they tap their UTA cards. Prizes like restaurant gift cards or theater tickets could be redeemed through the website and sent to directly to their email address all for simply riding UTA. After a brief survey that validated our idea, we started writing out all the steps a user would take when using this website. We put all of our steps together on a whiteboard and got rid of any redundancies. After several iterations, we had developed a solid user story map.</div>
    </div>
    <img src="../assets/project_1/07.jpg">

    <!-- Sketches -->
    <div class="section">
      <div class="section__title">Sketches</div>
      <div class="section__text">After completing our User Journey Map we officially had a Minimum Viable Product (MVP) that we could start designing. We started with sketching out each screen our users would see. This helped us find elements we missed or problems we didn’t think about. After a few hundred sketches we combined all of our best ideas into one simple wireframe.</div>
    </div>
    <img src="../assets/project_1/08.jpg">


    <!-- Wire Frames -->
    <div class="section">
      <div class="section__title">Wire Frames—Prototyping</div>
      <div class="section__text">After finishing our sketches and getting our wireframe on paper we went to work creating a low-fi mockup that we would use for prototyping and user testing. It was during this time that my team ran into a few hang-ups. We were struggling to find a good workflow that would let us sync all of our designs in Sketch. Our collaboration was difficult as we were using different UI kits, text, and sizing. To resolve this inconsistency problem we had to pause our work on the prototype and touched base with each other. We decided to find a tool that would allow us to share one standard library across all of our work. We picked a few UI kits from <span class="section__text--red">Sketch App Sources</span> to import into Craft and used Dropbox to sync all of our sketch files and assets. This was a tremendous help and it ended up saving us a lot of time.</div>
    </div>
    <img src="../assets/project_1/09.png">


    <!-- Prototype -->
    <div class="section">
      <div class="section__title">Prototype</div>
      <div class="section__text">Now that we were on the same page we started throwing together a quick and dirty prototype using Invision. It was very basic as it only lets you click through each of the screens, but it worked for getting across the general idea. After presenting it for the first time in class we received a lot of invaluable feedback on our design choices. Some of the buttons were confusing on the checkout page such as “add to cart” and “redeem now”. Throughout the rest of the week, my partner finished up the flow of each browser screen, making it a fully interactive prototype that we could use in our upcoming user testing module. I focused on designing the mobile versions of our website. It was a bit of a time crunch, but we knew that as long as we had the browser done by Friday we would have enough to start testing.</div>
    </div>
    <img src="../assets/project_1/11.jpg">
    <img src="../assets/project_1/12.png">


    <!-- Usability -->
    <div class="section">
      <div class="section__title">Usability Testing</div>
      <div class="section__text">During lunchtime we hit the TRAX and made our way to the University of Utah to grab as many students as possible to test our prototype. I ended up writing up a short scenario and a list of tasks for our users to complete during testing. Testing would allow us to validate our hypothesis and determine if our designs actually let the user accomplish what they wanted to do. We set up at a nearby table with our prototype, notes, screen capturing software, and various snacks to entice passersby. Talking to real people and watching them use our prototype helped us tremendously in identifying problems with our design. For example, users had a problem with syncing their UTA pass with the website. This was the biggest concern from everyone we tested. They found the wording confusing and they didn’t know what numbers to enter in the form field. We debriefed after testing and came up with a simple solution to have a popup that gives the user a chance to connect their UTA pass only after signing up.</div>
    </div>
    <img src="../assets/project_1/13.jpg">
    <img src="../assets/project_1/14.jpg">


    <!-- Mockup -->
    <div class="section">
      <div class="section__title">High fidelity mockup</div>
      <div class="section__text">
        <p>We addressed the main complaints in our low fi mockups and went forward with adding visuals to our design. We started with alignment and made sure each element was exactly the right size on each page and that the spacing was consistent throughout the design.</p>
        <p>Creating a style guide was probably the most daunting task for me, personally, because I never really considered myself much of an artist. After days of picking colors, sizing type, and using drop shadows, I was ready to give up and become a web developer. Thankfully, I survived the ordeal and after debating our color palette several hundred times we were finally able to get at least AA certified on each screen following the <span class="section__text--red">Web Accessibility Guidelines</span>. We presented our new high-fi prototype for design review and overall the feedback was mostly positive. However, there were still a few mistakes like the placement of our contact page and our use of drop shadows.</p>
      </div>
    </div>
    <img src="../assets/project_1/15.jpg">
    <img src="../assets/project_1/16.jpg">

    <!-- Conclusion -->
    <div class="section">
      <div class="section__title">Conclusion—Test</div>
      <div class="section__text">
        <p>After the design review, we wrote a new scenario for usability for our final prototype to help fine tune some of our designs. We were ready to test our target audience and see if we successfully incentivized our users to use mass transit.</p>
        <p>After presenting our prototype to the users of the University of Utah we determined our project was successful due to an overwhelmingly positive response.</p>
        <p>Going through our notes and discussing it among ourselves we saw a vast improvement in the on-boarding process. The problems with syncing UTA passes had been completely resolved. Every single one of our users completed this part of the scenario quickly without problems. There were a few users who voiced confusion on the site’s navigation, but overall we received a lot of praise on how easy it was to use. Many students asked when this website was going to “launch” because they really liked the concept.</p>
        <p>We had a lot of ideas starting out that would have been feature rich and complicated, but we were able to break it down into an MVP that showed promise.</p>
        <p>Overall, this project was a success and one of my biggest regrets is that we will probably never see this prototype turn into a real functioning web app. If I was to do everything over again I would get my workflow and tools sorted out before I ever touched Sketch. We lost a lot of time not being on the same page remaking screens, but regardless I am happy with the results.</p>
        <p>For anyone who wants to play around with our prototype I have attached it below along with the scenario we used in our user tests.</p>
      </div>
    </div>
    <img src="../assets/project_1/17.jpg">


    <!-- Scenario -->
    <div class="section">
      <div class="section__title">Scenario</div>
      <a class="section__text section__text--red" href="https://invis.io/AKDV62HZS" target="_blank">Link to Prototype</a>
      <div class="section__text">
        <p><i>“Recently you have found out about a new website called Spritztour that lets you earn points every time you use your UTA tap card. These points can be redeemed for various goods from amazon gift cards to local theater tickets. You have already been using the site for a while now and have collected a good amount of points and have already picked out 2 items you want to redeem, but you are curious if you have enough points for a Cafe Rio gift card.”</i></p>
        <ul>
          <li>Sign in to your account</li>
          <li>Browse available prizes and add a cafe Rio gift card to your cart</li>
          <li>Print the receipt for your records</li>
          <li>Find how many points you earned in January of this year</li>
          <li>Send the business a message to let them know you enjoyed their product</li>
          <li>Add a profile picture to your account</li>
          <li>Sign out</li>
        </ul>
      </div>
    </div>

  </section>
</template>

<script>
  export default {
    name: 'ProjectUTA',
    components: {},
    data () {
      return {}
    }
  }
</script>

<style scoped>
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 25rem;
  }

  .header {
    text-align: center;
    padding: 3rem 0 7rem;
  }

  .header__title {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 3rem;
  }

  .header__subtitle {
    margin: 0 auto;
    font-size: 2rem;
    max-width: 30rem;
    line-height: 3rem;
  }

  .section {
    margin: 4.5rem auto;
    max-width: 40rem;
  }

  .section__title {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 1rem;
  }

  .section__text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
  }

  .section__text--red {
    color: #e33e42;
    font-weight: 800;
    text-decoration: none;
  }

  .section__text--bold {
    font-weight: 800;
    color: #333333;
  }

  @media screen and (max-width: 375px) {
    .section {
      margin: 4.5rem auto;
      max-width: 40rem;
    }

    .section__title {
      font-size: 1.75rem;
      font-weight: 700;
      line-height: 3rem;
      margin-bottom: 1rem;
    }

    .section__text {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5rem;
    }
  }
</style>
