<template>
  <section class="container">
    <div class="header">
      <div class="header__title">Quiltback Case Study</div>
      <div class="header__subtitle">Raising Money for Refugees Through Quilting.</div>
    </div>
    <div class="hero">
      <img src="../assets/project_2/hero_low.png" class="hero__placeholder" alt="Utah Transit Authority Vehicle">
      <img v-on:load="onHeroLoad" src="../assets/project_2/hero.png" class="hero__image" alt="Utah Transit Authority Vehicle">
      <p class="hero__highlighter"><a class="hero__link" href="https://projects.invisionapp.com/share/BGDL5Q7ET#/screens" target="_blank">Link to Prototype</a></p>
    </div>

    <!-- Background -->
    <div class="section">
      <div class="section__title">Background</div>
      <div class="section__text">
        <p>I was tasked with creating a website for the Non-Profit QuiltBack formerly known as Quiltanthropy. Quiltback is a 501c organization that fosters aid for refugees by hosting charity quilt auctions. During our first meeting with the owner Trisha we were able to determine her vision, requirements, and metrics for success. The requirements for the site were as follows:</p>
        <ul>
          <li>A blog where users and Trisha could post content.</li>
          <li>A hosting page where users could learn to hold their own quilt auctions.</li>
          <li>An Event page where users could find and nearby and upcoming events.</li>
          <li>An account page where users could manage their blog posts and events.</li>
          <li>Design a Logo for the new company name “QuiltBack”.</li>
        </ul>
        <p>
          <strong>Objective:</strong> Design a Non-Profit website that raises money for refugees through charity quilt auctions.
        </p>
        <p><strong>My Team:</strong> <span class="section__text--red">Ashley Dobbs</span>,
          <span class="section__text--red">Scott Shearer</span>, and myself.</p>
      </div>
    </div>
    <img src="../assets/project_2/02.jpg">

    <!-- Out Approach -->
    <div class="section">
      <div class="section__title">Our Approach—Empathize</div>
      <div class="section__text">We started with the logo design since it was needed for the next quilt auction. We did 10x10 designs of the logo we felt resembled Quiltback and its culture. Unfortunately, due to time constraints, we did not have the time to do proper A/B testing, so we did the next best thing and had Trisha pick the design. We made several iterations of the chosen logo and finally had one that worked well.</div>
    </div>
    <img src="../assets/project_2/03.jpg">

    <!-- Assumptions -->
    <div class="section">
      <div class="section__title">Assumptions</div>
      <div class="section__text">We did our brainstorming using Trello and formed a hypothesis by listing out our assumptions. Using our hypothesis and assumptions we generated some user interview questions that would help us better understand our users. Creating the questions was the easy part, identifying the target audience, on the other hand, proved to be quite the challenge.</div>
    </div>
    <img src="../assets/project_2/04.png">

    <!-- User Research -->
    <div class="section">
      <div class="section__title">User Research</div>
      <div class="section__text">While we were trying to find a fabric store to do shopper interviews in we got lost but extremely lucky. We happened upon one of the leading experts of quilting and quilt auctions. The “fabric store” turned out to be Handi Quilt’s headquarters. Handi Quilt is the leading industry in Long Arm Quilt Manufacturing and we got to sit down with the Director of Marketing. She was kind enough to not only answer all of our questions, but provide us with their valuable demographic statistics. We eventually found our fabric store and validated a lot of our assumptions through interviews and surveys.</div>
      <p>See our <a href="#" class="section__text--red">Quilt Survey</a> here.</p>
    </div>
    <img src="../assets/project_2/05.png">

    <!-- Problem Baby — Define -->
    <div class="section">
      <div class="section__title">Problem Baby—Define</div>
      <div class="section__text">We had compiled a lot of data together that we used to create a persona. The only problem was that out of everyone we contacted only one person was willing to “host an event”. This was a big problem because that was a huge component of the website. When we reached out to Trisha with this unfortunate news, she insisted that we continue with the project while she figured out with her lawyers how users would host their own events through her organization. QuiltBack was still a new organization and we were limited in what we could do for their business model.</div>
    </div>
    <img src="../assets/project_2/06.png">

    <!-- Personas -->
    <div class="section">
      <div class="section__title">Personas</div>
      <div class="section__text">We created our persona based on the commonalities we found with each interviewee. The only difference would be instead of listing how users felt about hosting events, we wrote as if this was our ideal user who wanted to host quilt auctions.</div>
    </div>
    <img src="../assets/project_2/07.jpg">

    <!-- Ideate -->
    <div class="section">
      <div class="section__title">User Story Mapping—Ideate</div>
      <div class="section__text">We ran into a lot of problems with our user flow because while Trisha was working on her business model we were missing a vital piece of our design. Without knowing how a user would host an event it was difficult to design the navigation. We sketched out ideas for each screen and gave our best guess as to how a user would host an event and go through the required legal paperwork. Trisha also sent us a website that she really liked the design of so we based our ideas off of
        <span class="section__text--red">www.cottonandsteel.com</span></div>
    </div>
    <img src="../assets/project_2/08.jpg">

    <!-- Prototype -->
    <div class="section">
      <div class="section__title">Low-Fidelity Mockup-Prototype</div>
      <div class="section__text">We quickly sketched out some wireframes for each screen and discussed how each view should look. We decided to design the site with a parallax feel making everything very minimal and easy to navigate. Our sketches soon became obsolete and we moved to Sketch for our low-fi mockups. At first, we had fun with the design using different geometric patterns throughout to give the site a quilt feel, but we gave up on that idea due to complexity and time restraints.</div>
    </div>
    <img src="../assets/project_2/09.jpg">
    <img src="../assets/project_2/10.jpg">

    <!-- High-Fidelity Prototype -->
    <div class="section">
      <div class="section__title">High-Fidelity Prototype</div>
      <div class="section__text">After getting our low-fi screens done we were in a bit of a time crunch due to unexpected health issues within our team. To save time we decided it best for Ashley to focus on designing the landing page and creating a style guide while I focused on the information architecture and site layout for the rest of the screens. Meanwhile, Scott would design the screens for mobile. We met our deadline with success and showed Trisha our prototype we created with Invision. Although we were still missing the “Hosting an Event” section Trisha was overwhelmed with joy by our progress and assured us that the information would be coming as soon as she met with her lawyer. We were able to deliver everything Trisha asked for and more.</div>
    </div>
    <img src="../assets/project_2/12.png">

    <!-- Hand Off — Conclusion -->
    <div class="section">
      <div class="section__title">Hand Off — Conclusion</div>
      <div class="section__text">With Trisha’s sign off we were ready to help her transition from working with us to working with the web developers. After I presented our designs to the developers we spent the day working with them and answering any questions. The devs were excited to work on the project and reassured us that our designs were very doable. We spent the next week in production mode answering questions and feeding them our designs using the Invision preview tool. Eventually, the questions stopped and our project came to an end. We never did receive the hosting information we needed to finish our designs, but we hope for the best and look forward to seeing the final product. If we had more than the 3 weeks I would have wanted to do a lot more usability testing and to finish the designs for hosting an event. Overall we were successful because we delivered everything the client wanted before the deadline, but more importantly, we had a lot of fun doing it. For anyone who wants to play around with our prototype, I have attached it below.</div>
      <p>
        <a class="section__text--red" href="https://projects.invisionapp.com/share/BGDL5Q7ET#/screens" target="_blank">Link to Prototype</a>
      </p>
    </div>
    <img src="../assets/project_2/13.png">

  </section>
</template>

<script>
  export default {
    name: 'ProjectQuilt',
    methods: {
      onHeroLoad () {
        document.querySelector('.hero__image').setAttribute('style', 'display: block')
        document.querySelector('.hero__placeholder').setAttribute('style', 'display: none')
      }
    }
  }
</script>

<style scoped>
  .container {
    padding: 0 1rem;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 25rem;
  }

  .hero {
    position: relative;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }

  .hero__link {
    color: #484848;
    font-size: 1.25rem;
    font-weight: 800;
    text-decoration: none;
  }

  .hero__link:hover {
    color: #e33e42;
  }

  .hero__placeholder {
    width: 100%;
    max-height: none;
  }

  .hero__image {
    display: none;
    width: 100%;
    max-height: none;
  }

  .hero__highlighter {
    position: absolute;
    right: 2rem;
    bottom: 3rem;
    background-color: #fff160;
    padding: .5rem 1.5rem;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }

  .header {
    text-align: center;
    padding: 3rem 0 7rem;
  }

  .header__title {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 3rem;
  }

  .header__subtitle {
    margin: 0 auto;
    font-size: 2rem;
    max-width: 30rem;
    line-height: 3rem;
  }

  .section {
    margin: 4.5rem auto;
    max-width: 40rem;
  }

  .section__title {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 1rem;
  }

  .section__text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
  }

  .section__text--red {
    color: #e33e42;
    font-weight: 800;
    text-decoration: none;
  }

  @media screen and (max-width: 375px) {
    .hero {
      position: relative;
      height: 100%;
      display: block;
    }

    .hero__link {
      color: #484848;
      font-size: 0.875rem;
      font-weight: 800;
      text-decoration: none;
    }

    .hero__highlighter {
      right: 0;
      bottom: 0;
      background-color: #fff160;
      padding: .5rem 1rem;
      -webkit-transform: rotate(-25deg);
      -moz-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
      -o-transform: rotate(-25deg);
      transform: rotate(-25deg);
    }

    .section {
      margin: 4.5rem auto;
      max-width: 40rem;
    }

    .section__title {
      font-size: 1.75rem;
      font-weight: 700;
      line-height: 3rem;
      margin-bottom: 1rem;
    }

    .section__text {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5rem;
    }
  }
</style>
