<template>
  <div id="app">
    <router-link tag="div" to="/" class="app__title">Isaak Meakin</router-link>
    <router-view />
    <footer>Copyright © {{year}}, Isaak Meakin</footer>
  </div>
</template>

<script>
  export default {
    name: 'App',
    data () {
      const year = new Date(Date.now()).getFullYear()
      return { year }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

  #app {
    max-width: 1024px;
    margin: 4rem auto 0 auto;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #484848;
    background: url('https://meka.studio/c12ccf8d292b209bb8842f8363ab1628.jpg') repeat
  }

  .app__title {
    cursor: pointer;
    z-index: 1;
    font-size: 1.25rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    height: 3rem;
    line-height: 3rem;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.10);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.10);
    box-shadow: 0 2px 4px rgba(0,0,0,.10);
  }

  .app__title:hover {
    color: #e33e42;
  }

  footer {
    text-align: center;
    color: #333333;
    opacity: .8;
    font-size: 1rem;
    padding: 2rem 0;
  }
</style>
